h1, h2 {
  font-family: Lato;
}
#app{
  display: flex;
  max-width: 1vha;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;
  margin: auto; justify-content: center;
}
.product{
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 5px ;
  max-width: 300px;
  padding: 5px;
}

.image{
  max-width: 100%;
  max-height: 100px;

}